version: 2
jobs:
  build:
    docker:
      - image: circleci/node:9.0.0
    steps:
      - checkout
      - run:   
          name: Install npm packages
          command: |
            npm install
      - run:   
          name: Install truffle and ganache-cli
          command: |
            sudo npm install -g truffle && sudo npm install -g ganache-cli && sudo npm install js-sha256
      - run:   
          name: Run test-rpc
          background: true
          command: |
            ganache-cli 
      - run:
          name: Testing All contract
          command: |
            truffle test